$colour-primary: #15DEA5;

%typography {
  color: $colour-primary;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  @extend %typography;
}
textarea {
  @extend %typography;
}
button {
  @extend %typography;
}
input {
  @extend %typography;
}


@mixin typography {
  color: $colour-primary;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
@include typography;
}
textarea {
  @include typography;
}
button {
  @include typography;
}
input {
  @include typography;
}