$colour-primary: #15DEA5;
$colour-secondary: #001534;
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    padding: $grid-gutter;
    @include border;
    color: $colour-primary;
    background: $colour-secondary;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-accent;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}

@function lightness-shift($colour) {
    @if (lightness($colour) < 25%){
        @return lighten($colour, 10%);
    }@else{
        @return darken($colour, 10%);
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: $colour-secondary;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $colour-primary;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}

.btn {
    @include btn
}

.container {
    margin: $layout-margin;
    padding: $grid-gutter $grid-gutter 0 $grid-gutter;
    @include border($colour-accent);
}

.form {
    width: 100%;
    padding-bottom: $grid-gutter;
    &__heading {
        width: 100%;
        color: $colour-white;
        @include heading-shadow;
        background: $colour-primary;
        line-height: 5rem;
        padding: $grid-gutter;
    }
    &__field {
        & label {
            color: $colour-accent;
            display: block;
            font-size: 2rem;
            line-height: 2rem;
            padding-top: $grid-gutter;
        }
        & input {
            width: 100%;
            background: $colour-secondary;
            @include border;
            padding: $grid-gutter;
            color: $colour-accent;
            font-weight: 900;
            font-style: italic;
            font-size: 2.75rem;
            @include border;
            background-color: $colour-secondary;
            color: $colour-primary;

        }
        & textarea {
            width: 100%;
            color: $colour-primary;
            background: $colour-secondary;
            @include border;
            outline: none;
            padding: $grid-gutter;
            margin-bottom: $grid-gutter*0.5;
        }
    }
}

.header {
    background: $colour-primary;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;   
    &__logo {
        font-size: 7rem;
        color: $colour-secondary;
        margin-left: 10rem;
        @include heading-shadow($colour-white);
    }
}

.nav {
    padding-right: $layout-margin;
    flex: 2 1 auto;
    text-align: right;
    &__link {
        display: inline;
        font-size: 3rem;
        padding-left: 1.5rem;
        & a{
        text-decoration: none;
        color: $colour-accent;
        }
        &--active {
            color: $colour-secondary;
            &:hover{
                cursor:default;
                color: $colour-secondary;
            }
        }
        & a:hover{
            color: $colour-white;
        }
    }
}

.about {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr; 
    grid-template-rows: repeat(3, auto);
    padding: $grid-gutter;
    grid-template-areas:
        "imagery heading"
        "imagery copy"
        "imagery btn";
    margin-bottom: $grid-gutter;
    &__heading {
        grid-area: heading;
        color: $colour-white;
        @include heading-shadow;
        text-align: right;
        padding-right: $grid-gutter;
    }
    &__imagery {
        grid-area: imagery;
    }
    &__pic {
        overflow:hidden;
        width: 80%;
        border-radius: 1000rem;
        border: 1.5rem solid $colour-primary;
        & img {
            display: block;
            width: 100%;
        }
    }
    &__copy {
        grid-area: copy;
        & p{
            line-height: 2rem*1.2;
            margin-bottom: $grid-gutter*2.25;
        } 
    }
    &__btn{
        @include btn;
        grid-area: btn;
        & a {
            text-decoration: none;
        }
    }
}

.project {
    width: 100%;
    margin-bottom: $grid-gutter*1.2;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: $grid-gutter;
    grid-template-areas: 
        "image synopsis"
        "tags synopsis"
        "btn btn";
    &__image {
        grid-area: image;
        @include img-ratio;
    }
    &__synopsis {
        grid-area: synopsis;
        padding-left: $grid-gutter;
        & h1 {
            color: $colour-white;
            @include heading-shadow;
        }
        & p {
            line-height: 2rem*1.25;
        }
    }
    &__tags {
        grid-area: tags;
        & p {
            color: $colour-white;
            & strong {
                color: $colour-primary;
                font-weight: 900;
                font-style: italic;
            }
        }
    }
    &__btn {
        @include btn;
        grid-area: btn;
    }
}

.quote {
    text-align: right;
    font-size: 6rem;
    font-weight: 900;
    font-style: italic;
    color: $colour-accent;
    margin: 2rem $layout-margin ($layout-margin)*-0.5 $layout-margin;
    strong {
        color: $colour-primary;
    }
}

.proj-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $grid-gutter;
}

.proj-prev{
    $self: &;
    color: $colour-white;
    margin-bottom: $grid-gutter;
    &__image {
        margin: 0;
        opacity: .2;
        @include img-ratio;
    }
    &__heading {
        font-size: 4rem;
        padding-left: 2.5rem;
        margin: 0;
        line-height: 6rem;
    }
    &__byline {
        padding-left: 2.5rem;
        font-size: 1.66rem;
    }
    &:hover {
        cursor: pointer;
        & > #{$self}__heading {
            background: $colour-primary;
        }
        & > #{$self}__image {
            opacity: 1;
        }
    }
}