/* ---- */
/* BEM  */
/* ---- */

/* -------------- */
/* Block Selecors */
/* -------------- */

/* .block {} */
.proj-prev {
    color: #fff;
    margin-bottom: 1.5rem;
}

/* .block__element {} */
.proj-prev__heading {
    font-size: 4rem;
    padding-left: 2.5rem;
    margin: 0;
    line-height: 6rem;
}

/* .block__element--modifier */
.proj-prev--mint {
    color: #15DEA5;
}