*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #001534;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #15DEA5;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

.header {
  background: #15DEA5;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.header__logo {
  font-size: 7rem;
  color: #001534;
  margin-left: 10rem;
  text-shadow: 0.55rem 0.55rem #fff;
}

.block {
  background-color: #15DEA5;
}
.block__element {
  color: #fff;
}
.block__element--modifier {
  background-color: #001534;
}

.nav {
  padding-right: 6rem;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 3rem;
  padding-left: 1.5rem;
  color: #D6FFF5;
}
.nav__link--active {
  color: #001534;
}

.block {
  background-color: #15DEA5;
}
.block .block__element {
  color: #fff;
}
