h1 {
  color: #15DEA5;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

textarea {
  color: #15DEA5;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

button {
  color: #15DEA5;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

input {
  color: #15DEA5;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}
